* {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    align-items: center;
    height: 100vh;
}
.form-holder {
    height: 80vh;
    width: 400px;       
    margin: auto;
    
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}